# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# VSCode
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
